# PART I: TITLE CREATION

In [6]:
import pandas as pd
import os
import numpy as np
import re
from collections import Counter
import spacy
from spacy.language import Language
from spacy_language_detection import LanguageDetector

In [24]:
#set globals

#list of all ports in vol
table_names = [
    "Analysis of Imports",
    "Analysis of Exports",
    "By Countries"
]

#source path
source_path = '/Users/katherinemika/Desktop/curation/historic_datasets/shanghai_returns/'

#### Create local directory for combined csv and txt files

`cp ".../annual_trade_reports/csv/*" ".../annual_trade_reports/csv_and_txt"`
`cp ".../annual_trade_reports/txt/*" ".../annual_trade_reports/csv_and_txt"`

In [49]:
def title_maker(year):
    
    folder_path = source_path + str(year) + '/csv_and_txt'
    
    files_list = os.listdir(folder_path)
    
    #dataframe with names of all the files in the folder 
    df = pd.DataFrame(files_list,columns=['file_name'])
    
    df = df.sort_values(by="file_name",ascending=True).reset_index().drop(columns=['index'])
    
    #get file type (csv or txt)
    df["file_type"] = df["file_name"].str[-3:]
    
    df["file_name"] = df["file_name"].str[:-4]
    
    df["tables"] = np.nan
    
    df['tables'] = df['tables'].astype(object)
    
    #list that will contain the page numbers of all content pages
    content_pages = []
    
    #loops through each txt file in the folder
    for index, row in df.iterrows():
        
        if row['file_type'] == 'txt':
            
            file_path = source_path + str(year) + '/txt/' + str(df.loc[index]['file_name'])+'.txt'
            file = open(file_path, 'r')
            Lines = file.readlines()
            
            #removes trailing characters from each line in the file
            lines_list = [line.strip('\n').strip('.').title() for line in Lines]
            
            #removes roman numerical characters from the beginning of all lines (this is for the port name titles)  
            combinations_to_remove = [r"I\.?[-—─-]", r"Ii\.?[-—─-]",r"Iii\.?[-—─-]",r"Iv\.?[-—─-]",r"V\.?[-—─-]",r"Vi\.?[-—─-]",r"Vii\.?[-—─-]",r"Viii\.?[-—─-]",r"Ix\.?[-—─-]"]
            pattern = '|'.join(combinations_to_remove)
            lines_list = [re.sub(pattern, "", line) for line in lines_list]
            
            #convert lists to sets
            file_set = set(lines_list)
            all_tables = set(table_names)

            #isolate string contents for ports
            extracted_tables = set()
            for l in file_set:
                for table in all_tables:
                    if table.lower() in l.lower():
                        extracted_tables.add(table)
            
            #check whether any port names occur in the file
            common_elements_title_table = extracted_tables.intersection(all_tables)

            # Check if exactly one port name appears
            if len(common_elements_title_table) == 1:
                #if yes, this file is the cover/starting page for the port whose name appears  
                df.at[index, 'tables'] = list(common_elements_title_table)[0]
    
    #forward fills the title column, ie. every page takes the value of the last valid/occuring title port name  
    #df['title_port'] = df['title_port'].fillna(method='ffill')
    df['tables'] = df['tables'].ffill()

    df["year"] = year
    df["file_path"] = df["file_name"] +"."+ df["file_type"]
    
    if df.loc[0, 'tables'] is np.nan:
        df.loc[0, 'tables'] = df.loc[1, 'tables']
    
    return df[["tables","year","file_path"]]

In [50]:
df_shanghai_returns = title_maker(1936)

In [51]:
df_shanghai_returns

                  tables  year             file_path
0    Analysis of Imports  1936          44421113.txt
1    Analysis of Imports  1936          44421114.txt
2    Analysis of Imports  1936          44421115.txt
3    Analysis of Imports  1936          44421116.txt
4    Analysis of Imports  1936          44421117.txt
..                   ...   ...                   ...
251  Analysis of Exports  1936  44421615_489-502.csv
252         By Countries  1936          44421629.txt
253         By Countries  1936  44421629_503-504.csv
254         By Countries  1936          44421630.txt
255         By Countries  1936          44421632.txt

[256 rows x 3 columns]

# PART II: NLP ENTITIES CREATION

### II(a) Create entities for all csv files

In [34]:
# Define the language detector factory function
def get_lang_detector(nlp, name):
    return LanguageDetector(seed=42)

# Load the spaCy model and register the language detector factory if not already registered
nlp = spacy.load('en_core_web_sm')
if 'language_detector' not in nlp.pipe_names:
    Language.factory("language_detector", func=get_lang_detector)
    nlp.add_pipe('language_detector', last=True)

@Language.component("filter_non_english_entities")
def filter_non_english_entities(doc):
    filtered_ents = []
    for ent in doc.ents:
        if all(token.is_alpha for token in ent):
            filtered_ents.append(ent)
    doc.ents = filtered_ents
    return doc

# Add the custom filter component to remove non-English entities
if 'filter_non_english_entities' not in nlp.pipe_names:
    nlp.add_pipe("filter_non_english_entities", last=True)

In [35]:
def nlp_entities_maker_csv(year):
    folder_path_csv = source_path + str(year) + '/csv'
    files_list = os.listdir(folder_path_csv)
    csv_files_df = pd.DataFrame(files_list, columns=['file_name'])
    csv_files_df['nlp_entities'] = '[]'

    for index, row in csv_files_df.iterrows():
        file_path = os.path.join(folder_path_csv, row["file_name"])
        df = pd.read_csv(file_path)

        # Load the NER model
        nlp = spacy.load('en_core_web_sm')

        # Set the max_length attribute
        nlp.max_length = 2000000
        
        if 'DESCRIPTION OF GOODS.' in df.columns:
            df["DESCRIPTION OF GOODS."] = df["DESCRIPTION OF GOODS."].fillna("").astype(str)
            combined_text = ' '.join(df["DESCRIPTION OF GOODS."].tolist())
        else:
            combined_text = ' '.join(df.astype(str).apply(lambda x: ' '.join(x), axis=1))
            column_names = ' '.join(df.columns)
            combined_text += ' ' + column_names

        # Check if 'language_detector' factory is already registered
        if 'language_detector' not in nlp.pipe_names:
            Language.factory("language_detector", func=get_lang_detector)
            nlp.add_pipe('language_detector', last=True)

        doc = nlp(combined_text)

        entities = [ent.text for ent in doc.ents if ent.label_ == 'WORK_OF_ART' or (not any(char.isdigit() for char in ent.text) and 'nan' not in ent.text.lower())]
        entity_counts = Counter(entities)
        most_common_entities = entity_counts.most_common(7)
        
        csv_files_df.at[index, 'nlp_entities'] = most_common_entities
    
    csv_files_df = csv_files_df.rename(columns={"file_name": "file_path"})
    return csv_files_df

### II(b) Create entities for all txt files

In [36]:
#clean all txt files first
def clean_txt_files(year):
    folder_path_txt = source_path + str(year) + '/txt'
    files_list = os.listdir(folder_path_txt)
    txt_files_df = pd.DataFrame(files_list,columns=['file_name'])
    
    for index, row in txt_files_df.iterrows():
        file_path = folder_path_txt + '/' + str(row['file_name'])
        with open(file_path, 'rb') as file:
            dirty_txt = file.read()
    
        clean_data = dirty_txt.decode('utf-8', 'ignore')

        # Write the clean data to the output file in text mode
        with open(file_path, 'w', encoding='utf-8') as file:
            file.write(clean_data)

In [37]:
clean_txt_files(1936)

In [38]:
def nlp_entities_maker_txt(year):
    
    # Load the NER model
    nlp = spacy.load('en_core_web_sm')
    
    # Check if 'language_detector' factory is already registered
    if 'language_detector' not in nlp.pipe_names:
        Language.factory("language_detector", func=get_lang_detector)
        nlp.add_pipe('language_detector', last=True)

    # Add the custom filter component to remove non-English entities
    nlp.add_pipe("filter_non_english_entities", last=True)

    folder_path_txt = source_path + str(year) + '/txt'
    files_list = os.listdir(folder_path_txt)
    txt_files_df = pd.DataFrame(files_list, columns=['file_name'])
    txt_files_df['nlp_entities'] = '[]'

    for index, row in txt_files_df.iterrows():
        file_path = folder_path_txt + '/' + str(row['file_name'])
        
        # Read the content of the text file
        with open(file_path, 'r', encoding='utf-8') as file:
            text = file.read()

        doc = nlp(text)

        # Excludes entities with digits and entities containing 'NaN'
        entities = [ent.text for ent in doc.ents if not any(char.isdigit() for char in ent.text) and 'nan' not in ent.text.lower()]

        # Counts the occurrences of each entity
        entity_counts = Counter(entities)

        # The 7 most common entities
        most_common_entities = entity_counts.most_common(7)

        txt_files_df.at[index, 'nlp_entities'] = most_common_entities
        txt_files_df = txt_files_df.rename(columns={"file_name": "file_path"})
    
    return txt_files_df

# FINAL FUNCTION

In [47]:
def spreadsheet_maker(year):
    try:
        csv_files_df = nlp_entities_maker_csv(year)
        txt_files_df = nlp_entities_maker_txt(year)
        nlp_entities_year = pd.concat([txt_files_df, csv_files_df], axis=0)
        df_titles_year = title_maker(year)
        all_cols_year = pd.merge(df_titles_year, nlp_entities_year, on="file_path", how="left")
        return all_cols_year
    except Exception as e:
        print(f"Error in spreadsheet_maker: {e}")
        return None

In [52]:
metadata = spreadsheet_maker(1936)
metadata.to_csv(source_path + str(1936) + "/shanghai_returns_metadata.csv", index=False)

## Testing & troubleshooting errors

`csv` files must be properly formatted for this script to work. If the encoding is funny, or there's column of values that are not aligned correctly, the spreadsheet maker will fail. It usually works to test whether a file can be read into a dataframe. If it can't then you have to manually inspect it, dpending on the error message, and go from there.

In [41]:
folder_path_csv = source_path + str(1936) + '/csv'
files_list = os.listdir(folder_path_csv)
csv_files_df = pd.DataFrame(files_list, columns=['file_name'])

In [42]:
csv_files_df

              file_name
0  44421425_301-331.csv
1  44421461_335-486.csv
2  44421615_489-502.csv
3  44421629_503-504.csv
4          44421122.csv
5        44421118_b.csv
6        44421118_c.csv
7    44421125_1-297.csv
8        44421118_a.csv

In [45]:
for index, row in csv_files_df.iterrows():
    #print(index, row)
    print(folder_path_csv + '/' + str(row['file_name']))
    df = pd.read_csv(folder_path_csv + '/' + str(row["file_name"]))
    print(df)

/Users/katherinemika/Desktop/curation/historic_datasets/shanghai_returns/1936/csv/44421425_301-331.csv
         器別 桃削分類號列 TARIFF CODE NO. 統計就列 RETURNS NO. DESCRIPTION OF GOODS.
0       NaN                    NaN              NaN                    A.
1       NaN                  56110              374        Account Books.
2      阿西瞽林                  42600              308            Acetylene.
3       NaN                  42700              285         Acid, Acetic.
4      鄭尔醋酸                  48021              289        „ „ Anhydrous.
...     ...                    ...              ...                   ...
1675     針梅                  23700              143             „ Plates.
1676     郭粉                  23610              143             „ Powder.
1677     斡片                  23700              143             „ Sheets.
1678     外吨                  23620              143            „ Spelter.
1679  未列も供.                  23800              143              „ n.o.r.

[1680 rows x 4 columns]
/Users/katherinemika/Desktop/curation/historic_datasets/shanghai_returns/1936/csv/44421461_335-486.csv
      統計就列 RETURNS NO. 桃削分類號列 TARIFF CODE NO.  \
0                  NaN                    NaN
1                  NaN                    NaN
2                  NaN                    NaN
3                  1.0                 001/10
4                  NaN                    NaN
...                ...                    ...
5789               NaN                    NaN
5790               NaN                    NaN
5791               NaN                    NaN
5792               NaN                    NaN
5793               NaN                    NaN

                                 仕名及連蹄地名  \
0     第一•紐動物及動物產 品（生皮丫熟皮,皮貨,及魚 价,海產品不在内）
1                           （統时號列邮1-33拔）
2                                統計戟列箭1號
3                                      牛
4                                  阳nを备姐
...                                  ...
5789                             關璽辭1借地.
5790                               間 务 弛
5791                               外洋復進打
5792                                 統よ、
5793                                 NaN

              NAME OF ARTICLE AND DECLARED DESTINATION.    二十四年 1935.  \
0     Group I: Animals and Animal Products (not incl...  敬耐 Quantity.
1                                  (Returns Nos. 1-33).           NaN
2                                        Returns No. 1.           NaN
3                        Animals, Living : Cattle 匹 No.             1
4                                        All Countries              1
...                                                 ...           ...
5789                          Kwantung Leased Territory
5790                                    Other Countries           NaN
5791                             Reimported from Abroad           NaN
5792                                        GRAND TOTAL           NaN
5793                                                NaN           NaN

       Unnamed: 5    二十五年 1936.    Unnamed: 7 Unnamed: 8
0     値岡带 Value $  敬耐 Quantity.   値岡带 Value $        NaN
1             NaN           NaN           NaN        NaN
2             NaN           NaN           NaN        NaN
3              60           NaN           NaN        NaN
4              60           NaN           NaN        NaN
...           ...           ...           ...        ...
5789       25,903           NaN        18,023        NaN
5790        2,350           NaN         9,429        NaN
5791      -27,348           NaN       -16,249        NaN
5792  288,721,137           NaN   361,400,621        NaN
5793          NaN           NaN  -159,900,710        NaN

[5794 rows x 9 columns]
/Users/katherinemika/Desktop/curation/historic_datasets/shanghai_returns/1936/csv/44421615_489-502.csv
                 膿別 枕則分械強列 TARIFF CODE NO.  統計撮列 RETURNS NO.  \
0               NaN                    NaN               NaN
1    - - ,・・1 1 r ■                  25010             310.0
2           滴茱,け佗・集                  03941              69.0
3             石 閑 佗                  23510             298.0
4                咒酒                  24700             309.0
..              ...                    ...               ...
703             紗 棉               19510/20             233.0
704             NaN                    NaN               NaN
705              白銘                  22410             289.0
706             斡測器                  22421             289.0
707           未列名傑                   22422             289.0

    DESCRIPTION OF GOODS.
0                      A.
1     Advertising Matter.
2              Agar-agar.
3              Alabaster.
4                Alcohol.
..                    ...
703             „ Cotton.
704                    Z.
705       Zinc (Spelter).
706       „ Manufactures.
707              „ n.o.r.

[708 rows x 4 columns]
/Users/katherinemika/Desktop/curation/historic_datasets/shanghai_returns/1936/csv/44421629_503-504.csv
               Unnamed: 0                 Unnamed: 1    二十五年 1936.  \
0                     NaN                        NaN  道!i IMPORTS.
1                     NaN                        NaN    他观位 G.U. =
2                 亞丁，ぶ林,第          Aden, Perim, etc.         5,810
3                 昭爾及M一--                    Algeria         6,725
4        扌出 ifcJ4*.--«r»^                     Arabia         4,925
..                    ...                        ...           ...
83                   凄內瑞披                  Venezuela           NaN
84                 1!哥斯拉黄                 Yugoslavia        10,955
85  p5 噸 411 f 蛊地・>>> * >  Kwantung Leased Territory     2,187,188
86                    國 也            Other Countries       736,390
87                    NaN                     TOTAL.   245,655,570

     Unnamed: 3 Unnamed: 4    Unnamed: 5   Unnamed: 6 Unnamed: 7
0           NaN        NaN  道!i EXPORTS.          NaN        NaN
1     阈 幣 St. $     T｛廿歡 %   阈 幣 St. $ =     金亂位 G.U.     T｛廿歡 %
2        13,187        NaN       313,960      138,786       0.09
3        15,169        NaN     2,586,557    1,145,826       0.71
4        11,090        NaN        79,729       35,207       0.02
..          ...        ...           ...          ...        ...
83          NaN        NaN            40           18        NaN
84       24,839       0.01         1,284          561        NaN
85    4,954,002       0.89     8,554,311    3,789,479       2.36
86    1,669,731       0.30        12,329        5,480        NaN
87  555,182,875     100.00   362,273,720  160,286,067     100.00

[88 rows x 8 columns]
/Users/katherinemika/Desktop/curation/historic_datasets/shanghai_returns/1936/csv/44421122.csv
               援準制(曲國公制) STANDARD (METRIC) SYSTEM.  \
0                                       就竝 WEIGHT.
1             公用(ff公分) 1 Hectogramme (100 Grammes)
2                &斤(t公 1 Kilogramme (10 Hectogrs.)
3                 公担(許公斤) 1 Quintal (100 Kilogrs.)
4                               公ffl 1 Hectogramme
5                               公ffl 1 Hectogramme
6                                  晏斤 1 Kilogramme
7              公做(1」公担) 1 Metric Ton (10 Quintals)
8                           齐 金 CAPACITY MEASURE.•
9                                       公升 1 Litre
10                                      公升 1 Litre
11                                      公升 1 Litre
12                              長度 LINEAL MEASURE.
13                                    1 Centimetre
14               公尺(百公分) 1 Metre (100 Centimetres)
15                                      公尺 1 Metre
16                              血科 SQUARE MEASURE.
17                            方处分 1 Sq. Centimetre
18  方公尺(萬方公分) 1 Sq. Metre (10,000 Sq. Centimetres)
19                                 方公尺 1 Sq. Metre
20                    木材 1HT 莅 TIMBER MEASUREMENT.
21                              立芋於尺 1 Cubic Metre

                          庆他制 OTHER SYSTEMS.  \
0                                        NaN
1                          閘 2.645547 Taels.
2                       斤 1.6534668 Catties.
3                         1 .6534668 Piculs.
4              英阑检銀御 3.215074 Ounces (Troy).
5            英即濡推) 3.527396 Ounces (Avdp. ).
6                        磅 2.2046223 Pounds.
7                              0.984206 Ton.
8                                        NaN
9            in 倫 0.2199754 Imperial Gallon.
10  奘加爲(液虽) 0.26417047 U.S.A. Liquid Gallon.
11              n本升 0.554352 Shō (Japanese).
12                                       NaN
13                           英寸 0.3937 Inch.
14                         英尺 3.280843 Feet.
15                        碣 1.0936143 Yards.
16                                       NaN
17                       英方寸 0.155 Sq. Inch.
18                         10.7639 Sq. Feet.
19                     方躅 1.19599 Sq. Yards.
20                                       NaN
21        英苗木尺 423.777 Superficial Feet B.M.

                     庆他制 OTHER SYSTEMS..1  \
0                                     NaN
1                                  1 Tael
2              斤(十六BI) 1 Catty (16 Taels)
3           JH (百斤) 1 Picul (100 Catties)
4                  盹wi ©纵樹 1 Ounce (Troy)
5                  英m (常斶 1 Ounce (Avdp.)
6   ft?(十六英刚常權) 1 Pound (16 Ounces Avdp.)
7         嗽(二干二R四P磅) 1 Ton (2,240 Pounds)
8                                     NaN
9                   英加倫 1 Imperial Gallon
10       涣加f綸(液hi) 1 U.S.A. Liquid Gallon
11                   日本升 1 Sho (Japanese)
12                                    NaN
13                              英I 1 Inch
14                              英尺 1 Foot
15                                 1 Yard
16                                    NaN
17                         蓼方才 1 Sq. Inch
18                         述为尺 1 Sq. Foot
19                          方卑 1 Sq. Yard
20                                    NaN
21           英方木尺 1 Superficial Foot B.M.

   援準制(曲國公制) STANDARD (METRIC) SYSTEM..1
0                                    NaN
1                公 0.377994 Hectogramme.
2               型斤 0.6047899 Kilogramme.
3                  &担 0.6047899 Quintal.
4                金 0.311035 Hectogramme.
5                公 0.283495 Hectogramme.
6               公斤 0.4535924 Kilogramme.
7               公饑 1.016047 Metric Tons.
8                                    NaN
9                    公升 4.545963 Litres.
10                  發升 3.7854345 Litres.
11                   於升 1.803907 Litres.
12                                   NaN
13                  矗分 2.54 Centimetres.
14                      公尺 0.3048 Metre,
15                   公尺 0.9143992 Metre.
16                                   NaN
17           为公分 6.4516 Sq. Centimetres.
18               芍公尺 0.092903 Sq. Metre.
19              Ji公尺 0.836126 Sq. Metre.
20                                   NaN
21          立方公尺 0.00235973 Cubic Metre.
/Users/katherinemika/Desktop/curation/historic_datasets/shanghai_returns/1936/csv/44421118_b.csv
            Unnamed: 0  二十四年 1934.  二十四年 1935.  二十四年 1936.  \
0  "倂士） Pence Sterling    31.25000    33.12500    32.50000
1        类 U.S. Dollar     0.66469     0.67645     0.67149
2     F!同 Japanese Yen     2.22750     2.34989     2.31289
3                  NaN         NaN         NaN         NaN

             Unnamed: 4  二十四年 1934..1  二十四年 1935..1  二十四年 1936..1
0    法柿那 French Francs            NaN           NaN      11.27438
1           和劈 Guilders           NaN           NaN       1.05576
2  港幣 Hongkong Dollars.        1.7319       1.41401       2.11489
3                   NaN           NaN           NaN           NaN
/Users/katherinemika/Desktop/curation/historic_datasets/shanghai_returns/1936/csv/44421118_c.csv
                Unnamed: 0  二十四年 1934.  二十四年 1935.  二十四年 1936.  \
0  英 m（R 士） Pence Sterling    16.12500    17.75000    14.37500
1         渙IM） U.S. Dollar     0.33787     0.36243     0.29712
2       H lai Japanese Yen     1.13226     1.25903     1.02342
3       法佛耶 French Francs      5.14010     5.48583     4.97051

        Unnamed: 4  二十四年 1934..1  二十四年 1935..1  二十四年 1936..1
0     馬克 Reichmark       0.85290       0.89190       0.73210
1    和fflf Guilder       0.49739       0.53226       0.46181
2         盧比 Rupee       0.88949       0.97748       0.79106
3  Hongkong Dollar       0.88034       0.75761       0.93581
/Users/katherinemika/Desktop/curation/historic_datasets/shanghai_returns/1936/csv/44421125_1-297.csv
      統 tJI-彼列 RETURNS NO. 锻列 TARIFF CODE NO.                 点名及来酒地帑  \
0                      NaN                NaN  館一組本色棉布 （統計皱列5 1-S 54）
1                      NaN                NaN                     NaN
2                      NaN                NaN               哉lit號列第I號
3                        1                NaN             本ft市布，柯布，細布
4                      NaN                NaN                 寬不過82公分
...                    ...                ...                     ...
11293                  NaN                NaN                   關戯机借地
11294                  NaN                NaN                    英他各幽
11295                  NaN                NaN                    復往外洋
11296                  NaN                NaN                     決典-
11297                  NaN                NaN                     NaN

      NAME OF ARTICLE AND COUNTRIES OF ORIGIN. 二十四年 1935.      Unnamed: 5  \
0           Group I: Cotton Piece Goods, Grey   Quantity.  値金單位 Val. G.U.
1                          (Returns Nos. 1-8).        NaN             NaN
2                               Returns No. 1.        NaN             NaN
3              Shirtings and Sheetings, Grey:—        NaN             NaN
4                        Not over 82 cm. wide:        NaN             NaN
...                                        ...        ...             ...
11293                Kwantung Leased Territory        NaN          13,585
11294                          Other Countries        NaN             916
11295                       Re-exported Abroad        NaN             -50
11296                              GRAND TOTAL        NaN     275,581,961
11297                                      NaN        NaN             NaN

       二于五坏 1936.   Unnamed: 7 Unnamed: 8  Unnamed: 9  Unnamed: 10
0      數Quantity.    Val. G.U.        NaN         NaN          NaN
1             NaN          NaN        NaN         NaN          NaN
2             NaN          NaN        NaN         NaN          NaN
3             NaN          NaN        NaN         NaN          NaN
4             NaN          NaN        NaN         NaN          NaN
...           ...          ...        ...         ...          ...
11293         NaN       12,814        NaN         NaN          NaN
11294         NaN        2,340        NaN         NaN          NaN
11295         NaN          NaN        NaN         NaN          NaN
11296         NaN  244,731,710        NaN         NaN          NaN
11297         NaN   -553094902        NaN         NaN          NaN

[11298 rows x 11 columns]
/Users/katherinemika/Desktop/curation/historic_datasets/shanghai_returns/1936/csv/44421118_a.csv
  英金（密士） Pence Sterling   19.7265*      比帶                Belgas   2.877*
0     決金    Gold Dollar      0.40*  瑞虬舟峯,及  Swedish, Danish, and   1.492*
1      H       Gold Yen    0.8025*    彌威筑需      Norwegian Kroner      NaN
2    汰阵郞  French Francs  10.20977*      奥那    Austrian Shillings    2.843
3     晦克     Reichmarks      1.679    新期坡制      Singapore Dollar   0.705*
4     和带        Guilder     0.995*      国比                Rupees   1.096*
5     摊帶   Italian Lire     7.600*     诫閘幣                 Zloty   3.5656
6   瑞士佛耶   Swiss Francs     2.073*     捶克將   Czechoslovak Crowns  16.201*

In [18]:
df = pd.read_csv("/Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319905.csv")
df

,Unnamed: 0,1863.,1864.,1865.,1866.,1867.,1868.,1869.,1870.,1871.,1872.
0,NaN,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c
1,"British,","1,817.9.2.3","24,333.7.2.1","22,135.5.3.8","11,724.2.3.3","23,545.4.9.5","16,915.4.3.8","17,377.7.3.2","30,045.0.5.4","52,714.5.7.8","58,395.8.6.8"
2,"American,",NaN,NaN,693.0.5.6,811.9.8.1,131.5.5.6,"1,423.1.9.7",NaN,"3,372.5.0.0","3,686.6.1.5","3,712.9.3.2"
3,"French,",NaN,694.0.6.6,"2,168.6.3.1",689.5.44,"3,293.5.6.3","3,918.0.7.1","3,152.8.1.4","3,937.7.8.0","6,972.3.8.4","3,311.8.8.2"
4,"Swedish and Norwegian,",NaN,"1,728.1.4.3","2,135.6.8.1",979.1.4.2,NaN,881.42.7,NaN,"5,953.6.0.8","7,995.9.2.0","3,766.8.2.1"
5,"Russian,",NaN,NaN,NaN,NaN,NaN,NaN,"2,052.0.0.0",NaN,662.6.7.6,NaN
6,"German,","6,818.6.3.0","11,523.7.8.4","21,367.0.54","34,574.9.3.9","40,324.5.8.5","27,558.1.3.3","43,008.7.4.5","49,000.0.6.1","21,682.1.9.2","33,014.9.3.2"
7,"Danish,","7,573.9.4.0","9,571.6.7.9","5,704.0.2.9",388.9.4.9,"1,175.9.8.9",NaN,"5,336.4.2.2","13,045.3.9.0","12,889.0.90","1,525.4.6.4"
8,"Dutch,",NaN,NaN,308.3.4.5,"2,166.4.4.7",NaN,790.6.9.0,"1,697.5.9.4","6,077.4.3.8","10,203.4.0.6","5,412.7.5.7"
9,"Spanish,",NaN,NaN,77.2.0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Belgian,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Italian,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"Austrian,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Non-Treaty Powers,",NaN,NaN,339.0.9.5,29.0.4.5,NaN,NaN,75.6.3.6,350.1.9.0,491.0.1.2,"1,553.2.3.5"
14,"Transit Dues,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,743.4.2.0,NaN,NaN
15,"TOTAL,","16,210.4.8.3","47,351.3.9.3","54,988.6.2.8","51,364.2.8.0","68,471,1.8.8","51,486.9.5.6","72,700.9.43","112,525.4.4.1","117,297.8.7.3","110,694.8.9.1"

In [19]:
if 'DESCRIPTION OF GOODS.' in df.columns:
    df["DESCRIPTION OF GOODS."] = df["DESCRIPTION OF GOODS."].fillna("").astype(str)
    combined_text = ' '.join(df["DESCRIPTION OF GOODS."].tolist())
else:
    combined_text = ' '.join(df.astype(str).apply(lambda x: ' '.join(x), axis=1).tolist())
    column_names = list(df.columns)
    combined_text += ' ' + ' '.join(column_names)

df

,Unnamed: 0,1863.,1864.,1865.,1866.,1867.,1868.,1869.,1870.,1871.,1872.
0,NaN,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c
1,"British,","1,817.9.2.3","24,333.7.2.1","22,135.5.3.8","11,724.2.3.3","23,545.4.9.5","16,915.4.3.8","17,377.7.3.2","30,045.0.5.4","52,714.5.7.8","58,395.8.6.8"
2,"American,",NaN,NaN,693.0.5.6,811.9.8.1,131.5.5.6,"1,423.1.9.7",NaN,"3,372.5.0.0","3,686.6.1.5","3,712.9.3.2"
3,"French,",NaN,694.0.6.6,"2,168.6.3.1",689.5.44,"3,293.5.6.3","3,918.0.7.1","3,152.8.1.4","3,937.7.8.0","6,972.3.8.4","3,311.8.8.2"
4,"Swedish and Norwegian,",NaN,"1,728.1.4.3","2,135.6.8.1",979.1.4.2,NaN,881.42.7,NaN,"5,953.6.0.8","7,995.9.2.0","3,766.8.2.1"
5,"Russian,",NaN,NaN,NaN,NaN,NaN,NaN,"2,052.0.0.0",NaN,662.6.7.6,NaN
6,"German,","6,818.6.3.0","11,523.7.8.4","21,367.0.54","34,574.9.3.9","40,324.5.8.5","27,558.1.3.3","43,008.7.4.5","49,000.0.6.1","21,682.1.9.2","33,014.9.3.2"
7,"Danish,","7,573.9.4.0","9,571.6.7.9","5,704.0.2.9",388.9.4.9,"1,175.9.8.9",NaN,"5,336.4.2.2","13,045.3.9.0","12,889.0.90","1,525.4.6.4"
8,"Dutch,",NaN,NaN,308.3.4.5,"2,166.4.4.7",NaN,790.6.9.0,"1,697.5.9.4","6,077.4.3.8","10,203.4.0.6","5,412.7.5.7"
9,"Spanish,",NaN,NaN,77.2.0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Belgian,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Italian,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"Austrian,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Non-Treaty Powers,",NaN,NaN,339.0.9.5,29.0.4.5,NaN,NaN,75.6.3.6,350.1.9.0,491.0.1.2,"1,553.2.3.5"
14,"Transit Dues,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,743.4.2.0,NaN,NaN
15,"TOTAL,","16,210.4.8.3","47,351.3.9.3","54,988.6.2.8","51,364.2.8.0","68,471,1.8.8","51,486.9.5.6","72,700.9.43","112,525.4.4.1","117,297.8.7.3","110,694.8.9.1"